<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Concert Ticketing System</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="overflow: hidden;">
    <header>
        <nav>
            <a href="home.html">
                <img src="../static/img/logo.png" alt=" ">
            </a>
            <a href="concert.html">Concerts</a>
            <a href="signup.html">Sign Up</a>
            <a href="login.html">Log In</a>
            <a href="about.html">About Us</a>
            <a href="account.html">My Account</a>
        </nav>
    </header>    
    
    <main>
        <h1>About Us</h1>
        <div class="member-container">
            <div class="member">
                <h2>6422782431</h2>
                <h2>Punnachai Rodkaew</h2>
            </div>
            <div class="member">
                <h2>6422782993</h2>
                <h2>Yossawin Khositanon</h2>
            </div>
            <div class="member">
                <h2>6422780054</h2>
                <h2>Teerawat Chuaphanngam</h2>
            </div>
            <div class="member">
                <h2>6422782720</h2>
                <h2>Chayawat Yuwaboon</h2>
            </div>
            <div class="member">
                <h2>6422771152</h2>
                <h2>Waritthorn Pongjitt</h2>
            </div>
        </div>
    </main>
</body>