/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  
  background: url('../static/img/concert.png') no-repeat center center/cover;
  background-attachment: fixed;
}

/* Header Styling */
header {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

header img {
  max-width: 100px;
  height: auto;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out;
}

header a:hover {
  color: #00bcd4;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  padding-top: 3rem;
}

/* Main Content with Background Image */
main {
  position: relative;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.main-content {
  text-align: center;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay for text visibility */
  color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main-content h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.main-content button {
  background-color: #ff38a2;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-content button:hover {
  background-color: #ae005d;
}

/* Button Styling */
main button {
  background-color: #ff38a2;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main button:hover {
  background-color: #ae005d;
}

#concert-list {
  max-width: 1200px;
  margin: 4% auto;
  padding: 1rem;
}

.concert-card {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: start;
  padding: 10px;
  margin: 2% auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color:  rgba(0, 0, 0, 0.8);;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.concert-card img {
  width: 20%;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.concert-info {
  line-height: 4rem;
}

.concert-info button {
  background-color: #ff38a2;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.5em 1.2em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.concert-info button:hover {
  background-color: #ae005d;
}
